<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Visitas Granada</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% block includes%}

    {% endblock %}
</head>

<body>

   {% block navigation%}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Visitas Granada</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url  'index' %}">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url  'newVisitView' %}">Nueva Visita</a>
              </li>
            {% endif %}
          <li class="nav-item">
            <a id="LighMode" class="nav-link"><i class="fa fa-moon-o" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout' %}">logout <i class="fa fa-sign-out"></i></a>
            {% else %}
              <a class="nav-link" href="{% url 'login' %}">login <i class="fa fa-sign-in"></i></a>
            {% endif %}
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Contact</a>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </nav>
   {% endblock %}

  <!-- Page Content -->
  <div class="container">
    {% block content %}
        {% url 'logout' %}
    {% endblock %}
  </div>
  <!-- /.container -->

   {% block footer %}
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  {% endblock %}
  <!-- Bootstrap core JavaScript -->
 <script>
      var url_increment_likes = "{% url 'incrementLikes' %}";
      var url_decrement_likes = "{% url 'decrementLikes' %}";
  </script>

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>


</body>

</html>
